.heading
{
    width: 100%;
}

li
{
    text-align: left;
}

.btn-warning
{
    float: right;
}

canvas
{
    border: 5px solid white;
    border-radius: 50px;
    margin-top: 70px;
}

.footer
{
    color: rgb(235, 228, 134);
    background-color: dimgrey;
    margin-top: 650px;
}